<h1>Sign Up!</h1>


<form action="/users" method="post">

  <label for="username">Username</label>
  <input id="username" type="text" name="user[username]">

  <label for="password">Enter Password</label>
  <input id="password" type="text" name="user[password]">

  <input type="submit" value="Enter">

  <%= flash[:messages] %>


</form>

  <!-- <%#=  render partial: "shared", action: '/users', method:'post', user: @user %> -->
